<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdminPwd</key>
	<string></string>
	<key>curRtCardListVerId</key>
	<string>0</string>
	<key>Hospital</key>
	<dict>
		<key>Name</key>
		<string></string>
		<key>IpAddress</key>
		<string></string>
	</dict>
	<key>CareSort</key>
	<dict>
		<key>Key</key>
		<string></string>
		<key>Ascending</key>
		<false/>
	</dict>
</dict>
</plist>
